// Load CSS Reset from NPM
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Vidaloka|Open+Sans+Condensed:300|Catamaran:800&display=swap');

$main-color: #66cca5;
$secondary-color: #dcf2ec;
$footer-background-color: white;
$footer-padding: 3rem 1.5rem;

$header-height: 128px;
$touch-header-height: 64px;

$border-radius: 4px;

@import '~bulma/bulma';

@include touch {
  $column-gap: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

.fill-height {
  height: 100%;
}

.nobr {
  white-space: nowrap;
}

.justify-content-center {
  justify-content: center;
}

footer.copyright {
  background-color: rgb(245, 245, 245);
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
.brand-logo {
  font-family: 'Catamaran', 'Abril Fatface', 'Vidaloka', 'Arial', sans-serif;
  color: black;
}

.brand-logo {
  font-size: 32px;
  font-weight: 100;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 0 96px;

  @include touch {
    height: $touch-header-height;
  }

  @include mobile {
    .level-right {
      display: none;
    }
  }

  @include tablet {
    .level-right .level-item:not(:last-child) {
      margin-right: 64px;
    }
  }

  @include desktop {
    height: $header-height;

    .level-right .level-item:not(:last-child) {
      margin-right: 100px;
    }

    a {
      font-size: 24px;
    }
  }

  @include widescreen {
    .level-right .level-item:not(:last-child) {
      margin-right: 150px;
    }
  }
}

a {
  color: $main-color;
}

a.has-text-black {
  &:hover {
    color: grey !important;
  }
}

section {
  padding-top: 32px;
  padding-bottom: 32px;

  @include mobile {
    .container:not(.is-paddingless) {
      padding: 0 32px !important;
    }
  }

  @include touch {
    min-height: calc(100vh - #{$touch-header-height}) !important;
  }

  @include tablet {
    .container:not(.is-paddingless) {
      padding: 0 96px !important;
    }
  }

  @include desktop {
    min-height: calc(100vh - #{$header-height}) !important;
  }

  &.first {
    @include touch {
      margin-top: $touch-header-height;
    }

    @include desktop {
      margin-top: $header-height;
    }
  }
}

@include mobile {
  img {
    max-height: 420px;
    max-width: 256px;
  }
}

@include touch {
  img {
    max-height: 512px;
  }
}

h1.title {
  line-height: 1em;

  @include mobile {
    font-size: 24px;
  }

  @include tablet {
    font-size: 34px;
  }

  @include desktop {
    font-size: 64px;
  }
}

h2.subtitle {
  @include mobile {
    font-size: 16px;
  }

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 32px;
  }
}

button.btn {
  background-color: $main-color;
  border: none;
  color: white;
  border-radius: $border-radius;
  transition-property: color, transform, background-color;
  transition-duration: 200ms;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;

  @include touch {
    min-width: 100px;
    min-height: 32px;
    font-size: 14px;
  }

  @include desktop {
    min-width: 150px;
    min-height: 48px;
    font-size: 20px;
  }

  &:hover {
    background-color: white;
    border: $main-color solid 1px;
    color: $main-color;
  }

  &:active {
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }
}

img {
  max-height: 100%;
}

.columns.is-reverse-mobile {
  @include mobile {
    flex-direction: column-reverse;
    display: flex;

    .column {
      width: 100%;
    }
  }
}

@include mobile {
  .level-right .level-item:not(:last-child) {
    margin-right: 0 !important;
  }
}

.text-box {
  background-color: hsla(210, 4%, 97%, 1);
  color: grey;
  text-align: justify;
  border-radius: $border-radius;
  min-height: 32px;
  padding: 32px;
  margin: 32px auto;
}

#section-1 {
  .lead-title {
    font-family: 'Catamaran', sans-serif;
  }

  @include touch {
    .lead-title {
      line-height: 1em;
      font-size: 48px;
      margin-bottom: 16px;
    }
  }

  @include desktop {
    .lead-title {
      line-height: 1em;
      font-size: 5.5vw;
      margin-bottom: 70px;
    }
  }
}

#section-2 {
  background-color: $main-color;

  h1 {
    font-size: 48px;
    margin-bottom: 32px;
    color: white;
  }

  p {
    color: white;

    @include tablet-only {
      font-size: 16px;
      text-align: justify;
      text-align-last: center;
    }

    @include desktop-only {
      font-size: 20px;
    }

    @include widescreen {
      font-size: 24px;
    }
  }
}

#section-3 {
  h1 {
    font-size: 26px;
    line-height: 1.25em;
    margin-bottom: 2rem;
  }
}

#section-4 {
  background-color: $main-color;

  @include mobile {
    .title {
      font-size: 32px !important;
    }
  }

  @include tablet {
    .title {
      font-size: 64px !important;
    }
  }

  @include desktop {
    .title {
      width: 50%;
      font-size: 96px !important;
    }
  }

  #enroll-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    @include desktop {
      max-width: 400px;
    }

    > * {
      display: block;
      margin: 8px 0;
    }

    input,
    button {
      min-height: 0;
      height: 32px;
      font-size: 14px;
    }

    input {
      padding-left: 10px;
      width: 100%;
      background-color: transparent;
      border: 1px white solid;
      border-radius: $border-radius;
      color: white;
      outline: none;

      &::placeholder {
        color: white;
      }
    }

    button {
      background-color: white;
      color: $main-color;
      min-width: 0;

      &:hover {
        border: white solid 1px;
        background-color: $main-color;
        color: white;
      }
    }
  }
}
