// Load CSS Reset from NPM
@import '~normalize.css';

$header-height: 64px;
$main-color: #66cca5;

@import '~bulma/bulma';

@include touch {
  $column-gap: 0.5rem;
}

header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: white;
  z-index: 100;
  padding: 0 64px;

  .level-right .level-item:not(:last-child) {
    margin-right: 50px;
  }

  .level-right {
    @include mobile {
      display: none;
    }
  }

  a {
    font-size: 24px;
    font-weight: 100;
  }
}

a {
  color: $main-color;
}

section {
  padding-top: $header-height;
}

h1.title {
  line-height: 1em;

  @include mobile {
    font-size: 24px;
  }

  @include tablet {
    font-size: 34px;
  }

  @include desktop {
    font-size: 48px;
  }
}

h2.subtitle {
  @include mobile {
    font-size: 16px;
  }

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 32px;
  }
}

button {
  background-color: $main-color;
  border: none;
  color: white;
  min-width: 150px;
  min-height: 48px;
  font-size: 24px;
  font-weight: 100;
  border-radius: 4px;
  transition-property: color, transform, background-color;
  transition-duration: 200ms;
  cursor: pointer;

  &:hover {
    background-color: white;
    border: $main-color solid 1px;
    color: $main-color;
  }

  &:active {
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }
}

img {
  max-height: 100%;
}

.fill-height {
  height: 100%;
}

.columns.is-reverse-mobile {
  @include mobile {
    flex-direction: column-reverse;
    display: flex;  // .is-mobile gives this too
    .column {
      // we want width to be 100%, this gives us the power of flex's ordering.
      // ux behavior is same as before, except underneath the hood width fills
      // 100% of the column instead of dropping flex in mobile
      width: 100%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .level-right .level-item:not(:last-child) {
    margin-right: 0 !important;
  }
}

.brand-logo {
  fill: $main-color;
  height: 48px !important;
}

#section-1 {
  .primary-button {
    margin-top: 32px;
  }
}

#section-2 {
  background-color: #dcf2ec;
}

#section-3 {
  h1 {
    font-size: 26px;
    line-height: 1.25em;
    margin-bottom: 2rem;
  }
}

@include mobile {
  img {
    max-height: 256px;
  }
}

@include until($tablet) {
  img {
    max-height: 512px;
  }
}

#summary-section-1 {
  .course-description {
    background-color: hsla(210, 4%, 97%, 1);
    color: grey;
    text-align: justify;
    border-radius: 4px;
    min-height: 50vh;
    max-width: 512px;
    padding: 32px;
    margin: 32px auto;
  }
}

#summary-section-2 {
  background-color: $main-color;
}
